{% extends "critical_trick/base.html" %}

{% block title %}En Partida! Critical Trick!{% endblock %}

{% block styles %} 
    {% load staticfiles %}
    <link href="{% static 'critical_trick/css/2Jugadores.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="contenedor">
        <div class="jugador">
            {% if player.equipo == 1 %}
                <div id="jugador_2">
                    <li> Jugador: {{ jugadores.1 }}</li>
                    <li> Puntos: {{ partida.puntos_equipo2 }}</li>
                </div>
                <div id="puntos">
                    <li> Jugando por: {{ partida.puntos_a_jugar }}</li>
                </div>
                <div id="jugador_1">
                    <li>Jugador: {{ jugadores.0 }}</li>
                    <li> Puntos: {{ partida.puntos_equipo1 }} </li>
                </div>
            {% else %}
                <div id="jugador_2">
                    <li> Jugador: {{ jugadores.0 }}</li>
                    <li> Puntos: {{ partida.puntos_equipo1 }}</li>
                </div>
                <div id="puntos">
                    <li> Jugando por: {{ partida.puntos_a_jugar }}</li>
                </div>
                <div id="jugador_1">
                    <li >Jugador: {{ jugadores.1 }}</li>
                    <li> Puntos: {{ partida.puntos_equipo2 }}</li>
                </div>
            {% endif %}
        </div>
        <div class="mesa">
            <div id="cartas_jugador_2">
                <p class="carta" id="carta4"></p>
                <p class="carta" id="carta5"></p>
                <p class="carta" id="carta6"></p>
            </div>
            <div id="cartas_jugador_1">
                <p class="carta" id="carta1"></p>
                <p class="carta" id="carta2"></p>
                <p class="carta" id="carta3"></p>
            </div>
        </div>
        <div class="opciones">
            <button type="button" class="botones" id="truco">Truco</button>
            <button type="button" class="botones" id="re_truco">Re Truco</button>
            <button type="button" class="botones" id="quiero_valecuatro">Vale cuatro</button>
            <button type="button" class="botones" id="envido">Envido</button>
            <button type="button" class="botones" id="real_envido">Real Envido</button>
            <button type="button" class="botones" id="falta_envido">Falta Envido</button>
            <button type="button" class="botones" id="puntos_envido"></button>
            <button type="button" class="botones" id="son_buenas">Son Buenas</button>
            <button type="button" class="botones" id="quiero">Quiero</button>
            <button type="button" class="botones" id="no_quiero">No Quiero</button>
            <button type="button" class="botones" id="ir_al_mazo">Ir al Mazo</button>
            {% if ronda.jugador_mano != user.get_username and not ronda.cartas_repartidas %}
            <button class="botones" id="repartir" type="button" onclick="repartirCartas()">Repartir Cartas</button>
            {% endif %}
        </div>
        <div id="table_info">
            <p id="msg">asdf</p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'critical_trick/js/juego.js' %}"></script>
    <script type="text/javascript">

        function convertToBoolean(data) {
            var bool;
            if (data === "True") {
                bool = true
            } else if (data ==="False") {
                bool = false
            } else {
                console.log("bool convert error")
            }
            return bool
        }

        JUGADOR_MANO = "{{ ronda.jugador_mano }}"
        USERNAME = "{{ user.get_username }}"
        CARTAS_REPARTIDAS = convertToBoolean("{{ ronda.cartas_repartidas }}")
        TRUCO = convertToBoolean("{{ ronda.truco }}")
        TURNO = "{{ ronda.turno }}"
        NUMERO_JUGADORES = "{{ partida.numero_jugadores }}"
        MI_SILLA = "{{ player.silla }}"
        MI_EQUIPO = "{{ player.equipo }}"
        PUNTOS_EQUIPO1 = "{{ partida.puntos_equipo1 }}"
        PUNTOS_EQUIPO2 = "{{ partida.puntos_equipo2 }}"
        URL_LUGAR_REPARTIDOR = "{% url 'critical_trick:lugar_de_repartidor' partida.id %}"
        URL_REPARTIR_CARTAS = "{% url 'critical_trick:repartir_cartas' partida.id %}"
        URL_CARTAS_DEL_JUGADOR = "{% url 'critical_trick:cartas_del_jugador' partida.id %}"
        {% load staticfiles %}
        URL_CARTA_BACK = "{% static 'critical_trick/cartas/back.jpg' %}"
        URL_JUGADA_DEL_OPONENTE = "{% url 'critical_trick:conocer_jugadas' partida.id %}"
        URL_JUEGO = "{% url 'critical_trick:juego' partida.id %}"
        URL_MENU = "{% url 'critical_trick:menu' %}"
        URL_OBTENER_TURNO = "{% url 'critical_trick:obtener_turno' partida.id %}"
        URL_OBTENER_TURNO_CANTO = "{% url 'critical_trick:obtener_turno_canto' partida.id %}"
        URL_SELECCIONAR_CARTA = "{% url 'critical_trick:seleccionar_carta' partida.id %}"
        URL_CARTAS_DEL_OPONENTE = "{% url 'critical_trick:cartas_del_oponente' partida.id %}"
        URL_GANADOR_DE_MANO = "{% url 'critical_trick:ganador_de_mano' partida.id %}"
        URL_GANADOR_DE_RONDA = "{% url 'critical_trick:ganador_de_ronda' partida.id %}"
        URL_SIGUIENTE_RONDA = "{% url 'critical_trick:siguiente_ronda' partida.id %}"
        URL_CANTAR_ENVIDO = "{% url 'critical_trick:cantar_envido' partida.id %}"
        URL_CANTAR_REAL_ENVIDO = "{% url 'critical_trick:cantar_real_envido' partida.id %}"
        URL_CANTAR_FALTA_ENVIDO = "{% url 'critical_trick:cantar_falta_envido' partida.id %}"
        URL_CANTAR_TRUCO = "{% url 'critical_trick:cantar_truco' partida.id %}"
        URL_CANTAR_RE_TRUCO = "{% url 'critical_trick:cantar_re_truco' partida.id %}"
        URL_CANTAR_VALE_CUATRO = "{% url 'critical_trick:cantar_quiero_vale_cuatro' partida.id %}"
        URL_CANTAR_QUIERO = "{% url 'critical_trick:cantar_quiero' partida.id %}"
        URL_CANTAR_NO_QUIERO = "{% url 'critical_trick:cantar_no_quiero' partida.id %}"
        URL_GANADOR_DE_ENVIDO = "{% url 'critical_trick:ganador_envido' partida.id %}"
        URL_OBTENER_PUNTOS_ENVIDO = "{% url 'critical_trick:puntos_envido' partida.id %}"
        URL_CANTAR_PUNTOS_DE_ENVIDO ="{% url 'critical_trick:cantar_puntos_envido' partida.id %}"
        URL_CANTAR_SON_BUENAS = "{% url 'critical_trick:cantar_son_buenas' partida.id %}"
        URL_IR_AL_MAZO = "{% url 'critical_trick:ir_al_mazo' partida.id %}"

    </script>
{% endblock %}