{% extends "critical_trick/base.html" %}

{% block title %}Esperando Jugador! Critical Trick!{% endblock %}

{% block styles %} 
    {% load staticfiles %}
    <link href="{% static 'critical_trick/css/crear_partida.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <form id="partidaForm" method="POST">
        {% csrf_token %}
        {{ partidaForm.as_p }}
        <button class="buttons" type="submit">ok</button>
    </form>
{% endblock %}