{% extends "critical_trick/base.html" %}

{% block title %}Esperando Jugador! Critical Trick!{% endblock %}

{% block styles %} 
    {% load staticfiles %}
    <link href="{% static 'critical_trick/css/espera.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div>
        <p id="jugador"></p>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'critical_trick/js/espera.js' %}"></script>
    <script type="text/javascript">
        URL_MENU = "{% url 'critical_trick:menu' %}"
        URL_JUEGO = "{% url 'critical_trick:juego' partida.id %}"
        PARTIDA_ID = "{{ partida.id }}"
        MAXIMO_JUGADORES = "{{ partida.maximo_de_jugadores }}"
    </script>
{% endblock %}