{% extends "critical_trick/base.html" %}

{% block title %} Entrar - Critical trick {% endblock %}

{% block styles %}
    {% load staticfiles %}
    <link href="{% static 'critical_trick/css/login.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="block">
        <div class="cards">
            {% load staticfiles %}
            <img id="card-1" src="{% static 'critical_trick/cartas/ESPADA/7.jpg' %}" alt="7 de Espada">
            {% load staticfiles %}
            <img id="card-2" src="{% static 'critical_trick/cartas/BASTO/1.jpg' %}" alt="1 de Basto">
            {% load staticfiles %}
            <img id="card-3" src="{% static 'critical_trick/cartas/ESPADA/1.jpg' %}" alt="1 de Espada">
        </div>
        <form method="POST">
            <h1>Critical Trick</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="buttons" id="register" type="button" onclick="location.href='{% url 'critical_trick:register' %}'">Registrarse</button>
            <button class="buttons" id="init_sesion" type="submit">Iniciar Sesi&oacute;n</button>
        </form>
        {% for message in messages %}
            <div id="table_error">
                <p id="msg_error">{{ message }}</p>
                <button id="but_error" class="buttons" type="button" onclick="hideTableError()">ok</button>
            </div>
        {% endfor %}
        {% if error %}
            <div id="table_error">
                <p id="msg_error">{{ message }}</p>
                <button id="but_error" class="buttons" type="button" onclick="hideTableError()">ok</button>
            </div>
        {% endif %}
        <footer>
            <small>Copyright &copy; 2014 ingsoft-famaf</small>
        </footer>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    function hideTableError() {
        document.getElementById('table_error').style.display = 'none';
    }
    </script>
{% endblock %}