{% extends "critical_trick/base.html" %}

{% block title %} Juega! - Critical trick{% endblock %}

{% block styles %} 
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'critical_trick/css/menu.css' %}">
{% endblock %}

{% block content %}
    <p class="username">{{ user.get_username }} | <a href="{% url 'critical_trick:logout' %}">Cerrar Sesión</a></p>
    <header>
        <h1>Truco Argentino</h1>
        <div id="menu">
            <ul class="bmenu">
                <li><a href="{% url 'critical_trick:menu' %}">Menú</a></li>
                <li><a href="#">Tutorial</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
    </header>
    <div id="container">
        <div id="principal">
            <button type="button" onclick="location.href='{% url 'critical_trick:crear_partida' %}'">Crear Mesa<br>(+)</button>
        </div>
        <ul id="mesas">
            <p id="titulo_mesa">Mesas Disponibles</p>
            {% for partida in partidas %}
                {% if partida.numero_jugadores < partida.maximo_de_jugadores %}
                    <a href="{% url 'critical_trick:sumarse_a_partida' partida.id %}">
                    <li>
                        <p>Nombre de Partida: {{ partida.nombre_de_partida }}</p>
                        <p>Creada hace: {{ partida.timeThatWasCreated }}</p>
                        <p>Jugadores: {{ partida.numero_jugadores }}/{{ partida.maximo_de_jugadores }}</p>
                        <p>Puntos: {{ partida.puntos_a_jugar }}</p>
                    </li>
                    </a>
                {% endif %}
            {% endfor %}
        </ul>
        {% for message in messages %}
        <div id="table_error">
            <p id="msg_error">{{ message }}</p>
            <button id="but_error" class="buttons" type="button" onclick="hideTableError()">ok</button>
        </div>
        {% endfor %}
    </div>
    <footer>
        <small>Copyright &copy; 2014 ingsoft-famaf</small>
    </footer>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'critical_trick/js/menu.js' %}"></script>
    <script type="text/javascript">
        URL_MENU = "{% url 'critical_trick:menu' %}"
        CANTIDAD_PARTIDAS = "{{ partidas|length }}"
    </script>
{% endblock %}