{% extends "critical_trick/base.html" %}

{% block title %} Registro - Critical trick {% endblock %}

{% block styles %}
    {% load staticfiles %}
    <link href="{% static 'critical_trick/css/register.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="block">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="buttons" type="submit">Enviar</button>
        </form>
        {% if error %}
            <div id="table_error">
                <p id="msg_error">{{ message }}</p>
                <button id="but_error" class="buttons" type="button" onclick="hideTableError()">ok</button>
            </div>
        {% endif %}
        <footer>
            <small>Copyright &copy; 2014 ingsoft-famaf</small>
        </footer>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    function hideTableError() {
        document.getElementById('table_error').style.display = 'none';
    }
    </script>
{% endblock %}