@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Anton);
div.contenedor {
    position: absolute;
    width: 1200px;
    height: 650px;
    top: 50px;
    left: 50px;
    border-radius: 30px;
    opacity: 0.9;
    overflow-y: hidden;
}

.jugador {
    position: relative;
    width: 150px;
    height: 550px;
    background-color: #342F2B;
    background-image: url("../images/madera1.jpg");
    border-radius: 30px;
    box-shadow: 20px 0px 10px black;
    z-index: 1;
}   

#equipo_2 {
    position: relative;
    width: 150px;
    height: 170px;
    top: 30px;
    background-color: #64FE2E;
    border-radius: 15px;
    box-shadow: inset 0px 0px 10px #333;
}

#equipo_1 {
    position: relative;
    width: 150px;
    height: 170px;
    top: 145px;
    background-color: #5882FA;
    border-radius: 15px;
    box-shadow: inset 0px 0px 10px #333;
}

#puntos {
    position: relative;
    width: 150px;
    height: 25px;
    top: 90px;
}

#puntos li {
    padding-top: 5px;
    font-size: 15pt;
    height: 30px;
    margin: 0px;
    color: #FE2E2E;
    top: 0px;
}

#equipo_1 li {
    color: #5882FA;
}

#equipo_2 li {
    color: #64FE2E;
}

li {
    position: relative;
    top: 18px;
    margin-bottom: 10px;
    background-color: #333333;
    font-family: 'Arvo', serif;
    font-size: 15pt;
    border-radius: .3em;
    display: block;
    box-shadow: 0px 10px 10px black;

}

.mesa {
    position: relative;
    width: 850px;
    height: 550px;
    bottom: 550px;
    left: 150px;
    background-color: #512A19;
    border-radius: 30px;
    box-shadow: 0px 20px 10px black;
    background-image: url("../images/mesa.jpg");
    z-index: 0;
}

.nombre_box {
    position: relative;
    width: 200px;
    height: 22px;
    text-align: center;
    font-size: 14pt;
    border-radius: 18px;
    opacity: 0.8;
    font-family: 'Arvo', serif;
    box-shadow: inset 0px 0px 10px #333;
}

#nombre_jug1 {
    top: -280px;
    left: 332px;
    background-color: #5882FA;
}
#nombre_jug2 {
    top: -381px;
    left: 637px;
    background-color: #64FE2E;
}
#nombre_jug3 {
    top: -837px;
    left: 332px;
    background-color: #5882FA;
}
#nombre_jug4 {
    top: -425px;
    left: 17px;
    background-color: #64FE2E;
}

#cartas_jugador_3 {
    position: relative;
    width: 410px;
    height: 200px;
    margin-left: 230px;
    margin-right: 0px;
    top: 30px;
    left: 50px;
    border-radius: 15px;
}

#cartas_jugador_4 {
    position: relative;
    width: 410px;
    height: 200px;
    margin-left: 0px;
    margin-right: 0px;
    top: -80px;
    right: 60px;
    border-radius: 15px;
    transform: rotate(-90deg);
}

#cartas_jugador_1 {
    position: relative;
    width: 410px;
    height: 200px;
    margin-left: 230px;
    margin-right: 0px;
    top: -90px;
    left: 29px;
    border-radius: 15px;
}

#cartas_jugador_2 {
    position: relative;
    width: 410px;
    height: 200px;
    margin-left: 520px;
    margin-right: 0px;
    top: -380px;
    right: 10px;
    border-radius: 15px;
    transform: rotate(90deg);
}

p.carta {
    position: relative;
    display: inline;
}

#cartas_jugador_3 img {
    position: relative;
    top: 0px;
    border-radius: 10px;
    cursor: pointer;
}

#cartas_jugador_4 img {
    position: relative;
    top: 0px;
    border-radius: 10px;
    cursor: pointer;
}

#cartas_jugador_1 img {
    position: relative;
    top: 49px;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#cartas_jugador_2 img {
    position: relative;
    border-radius: 10px;
    top: 0px;
}

#cartas_jugador_1 img:hover {
    box-shadow: 0px 0px 10px white;
}

.opciones {
    position: relative;
    width: 200px;
    height: 550px;
    bottom: 1100px;
    left: 1000px;
    background-color: #8C2919;
    border-radius: 30px;
    box-shadow: -20px 0px 10px black;
    background-image: url("../images/madera_roja.jpg");
    z-index: 1;
}

#repartir {
    display: none;
}

.botones {
    position: relative;
    width: 133px;
    height: 40px;
    margin: 20px;
    top: 30px;
    color: orange;
    font-size: 13pt;
    box-shadow: 0px 0px 30px #A4A4A4;
    border-radius: 9px;
    cursor: pointer;
    display: inline-table;
}

#quiero {
    display: none;
}

#no_quiero {
    display: none;
}

#puntos_envido {
    display: none;
}

#son_buenas {
    display: none;
}

#re_truco {
    display: none;
}
#quiero_valecuatro {
    display: none;
}

.boton_carta {
    background-color: blue;
}

#table_info {
    position: absolute;
    top: 200px;
    left: 430px;
    width: 300px;
    height: 100px;
    z-index: 2;
    background-color: black;
    border-radius: 10px;
    opacity: 0.7;
    display: none;
}

#msg {
    text-align: center;
    font-size: 15pt;
    color: #B43104;
    margin: 18px;
    font-family: 'Anton', sans-serif;
}