@import url(http://fonts.googleapis.com/css?family=Candal);
#partidaForm {
    position: absolute;
    width: 450px;
    padding: 20px;
    top: 150px;
    left: 400px;
    background-color: orange;
    font-family: 'Candal', sans-serif;
    color: #424242;
    font-size: 12pt;
    opacity: 0.8;
    border-radius: 18px;
}

form input {
    width: 250px;
    height: 30px;
    text-align: center;
    font-size: 18pt;
    color: orange;
    background-color: #333333;
    box-shadow: inset 0px 0px 30px #A4A4A4;
    border: 3px solid #4e4d4d;
    border-radius: 9px;
}

form select {
    width: 70px;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    font-size: 16pt;
    color: orange;
    background-color: #333333;
    box-shadow: inset 0px 0px 30px #A4A4A4;
    border: 3px solid #4e4d4d;
    border-radius: 9px;
}

.buttons {
    width: 133px;
    height: 40px;
    margin-top: 30px;
    margin-left: 300px;
    box-shadow: 0px 0px 30px #A4A4A4;
    border-radius: 9px;
    color: orange;
    font-size: 13pt;
    cursor: pointer;
}