div {
	position: absolute;
	width: 350px;
	height: 150px;
	top: 200px;
	left: 450px;
	background-color: black;
	opacity: 0.8;
	border-radius: 30px;
}

p {
	padding-top: 20px;
	padding-left: 20px;
	font-size: 15pt;
	color: orange;
}