@import url(http://fonts.googleapis.com/css?family=Pinyon+Script);
@import url(http://fonts.googleapis.com/css?family=Oswald);

div.block {
    position: fixed;
    height: 550px;
    width: 366px;
    margin: 8% 37%;
}


form {
    position: relative;
    background-color: #333333;
    width: 360px;
    /*margin: 8% auto;  */
    border: 3px solid #4e4d4d;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    box-shadow: 0px 0px 30px white;
}

form h1 {
    text-align: center;
    color: orange;
    text-shadow: 4px 0px black;
    font-weight: normal;
    font-size: 42pt;
    margin: 30px 0px;
    font-family: 'Pinyon Script', cursive;
}

form label {
    display: none;
}

form input {
    width: 280px;
    height: 40px;
    margin: 5px 40px;
    text-align: center;
    font-size: 18pt;
    color: orange;  
    background-color: #333333;
    box-shadow: inset 0px 0px 30px #A4A4A4;
    border: 3px solid #4e4d4d;
    border-radius: 9px;
}

button.buttons {
    width: 133px;
    height: 40px;
    box-shadow: 0px 0px 30px #A4A4A4;
    border-radius: 9px;
    color: orange;
    font-family: 'Oswald', sans-serif;
    font-size: 13pt;
    cursor: pointer;
}

#register {
    margin: 10px 10px 20px 40px;
    box-shadow: 0px 0px 30px #A4A4A4;
}

#init_sesion {
}

footer {
    height: 150px;
}

footer small {
    color: #BDBDBD;
    position: relative;
    margin: 170px 50px;
    top: 170px;
    font-size: 12pt;
}

div.cards {
    position: absolute;
    top: -300px;
    right: 520px;
    transform: rotate(95deg);
}

#card-1 {
    position: relative;
    bottom: 0px;
    width: 160px;
    height: 240px;
    border-radius: 12px;
    transform: rotate(60deg);
}

#card-2 {
    position: relative;
    bottom: 220px;
    left: 40px;
    width: 160px;
    height: 240px;
    border-radius: 12px;
    transform: rotate(220deg);
    transition: bottom 1s;
    -webkit-transition: bottom 1s; /* Safari 3.1 to 6.0 */
}

#card-2:hover {
    bottom: 180px;
}

#card-3 {
    position: relative;
    bottom: 480px;
    left: 80px;
    width: 160px;
    height: 240px;
    border-radius: 12px;
    transform: rotate(20deg);
    transition: bottom 1s;
    -webkit-transition: bottom 1s; /* Safari 3.1 to 6.0 */
}

#card-3:hover {
    bottom: 380px;
}

div#table_error {
    left: 10px;
    top: 70px;
    position: absolute;
    height: auto;
    width: 350px;
    background-color: black;
    opacity: 0.9;
    border-radius: 10px;
}
    
div#table_error p#msg_error {
    font-size: 15pt;
    color: #B43104;
    margin: 18px;
}

button#but_error {
    margin: 0px;
    color: #B43104;
    margin-left: 180px;
    margin-right: 37px;
    margin-bottom: 19px;
}