@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Candal);
* {
    margin: 0px;
    padding: 0px;
}

body {
    position: fixed;
    /*overflow-y: hidden;*/
    background-image: url("../images/fondo-de-madera.jpg");
    background-size: auto;
    background-color: #61380B;
    width: 1300px;
    height: 650px;
}

div#container {
    position: absolute;
    left: 200px;
    width: 1000px;
    height: 500px;
}

p.username {
    position: relative;
    margin-top: 10px;
    margin-left: 900px;
    font-size: 16pt;
    font-family: 'Candal', sans-serif;
    color: #2E2E2E;
}

p.username a {
    text-decoration: none;
    color: #D8D8D8;
    text-shadow: 0px 0px 10px black;
}

header {
    position: relative;
    margin-top: 30px;
    height: 80px;
    background-color: orange;
    opacity: 0.7;
    box-shadow: 0px 0px 70px black;
    border-radius: 30px;
}

header h1 {
    float: left;
    padding-left: 15px;
    font-size: 60pt;
    font-family: 'Lobster', cursive;
    color: #2E2E2E;
    text-shadow: 0px -1px 4px #E6E6E6, 0px -2px 10px #2E2E2E, 0px -10px 20px #0B0B3B, 0px -18px 30px black;
    transform: rotate(-10deg);
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
}

div#menu {
    height: 80px;
}

.bmenu{
    position: relative;
    margin-left: 600px;
    width: 700px;
    height: 80px;
}

.bmenu li{
    font-size: 25px;
    display: inline-table;
}

.bmenu li a{
    margin: 24px 20px;
    font-family: 'Lobster', cursive;
    color: #424242;
    display: block;
    text-shadow: 0px 0px 5px #fff;
    letter-spacing: 4px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.bmenu li:hover {
    background-color: #FF8000;
}

.bmenu:hover li a {
    text-shadow: 0px 0px 5px #0d1a3a;
    color: transparent;
}

.bmenu li a:hover {
    color: #2A1B0A;
    text-shadow: 0px 0px 1px #fff;
    padding-left: 10px;
}

div#container div#principal {
    position: relative;
    background: #333333;
    width: 800px;
    height: 350px;
    margin-top: 80px;
    left: 100px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px white;
    opacity: 0.9;
    /*border: 10px double black;*/
}

div#container div#principal button {
    position: relative;
    left: 30px;
    top: 20px;
    width: 190px;
    height: 150px;
    border: 0px;
    border-radius: 15px;
    color: #424242;
    background: linear-gradient(to bottom, orange 0%, #FF8000 50%, orange 100%);
    font-size: 20pt;
    font-family: 'Candal', sans-serif;
    cursor: pointer;
    opacity: 0.8;
}

div#container div#principal button:hover {
    color: #151515;
    background-color: #848484;
    box-shadow: 0px 0px 5px white;
}

footer {
    position: relative;
    top: 450px;
    height: 100px;
    padding-top: 15px;
}

footer small {
    position: relative;
    right: 80px;
    margin: 70px 80px;
    color: #BDBDBD;
    font-size: 11pt;
}

.buttons {
    width: 133px;
    height: 40px;
    margin-top: 30px;
    margin-left: 300px;
    box-shadow: 0px 0px 30px #A4A4A4;
    border-radius: 9px;
    color: orange;
    font-size: 13pt;
    cursor: pointer;
}

#mesas {
    overflow: auto;
    position: relative;
    width: 510px;
    height: 310px;
    bottom: 330px;
    left: 350px;
    padding-left: 20px;
    background: #424242;
    border-radius: 18px;
    font-family: 'Candal', sans-serif;
    color: #424242;
    box-shadow: 0px 0px 5px white;
    opacity: 0.8;
}

#mesas li {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: orange;
    border-radius: 18px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
}

#mesas li:hover {
    box-shadow: 0px 0px 10px white;
    cursor: pointer;
    color: #151515;
}

#mesas a {
    color: #424242;
    text-decoration: none;
}

#mesas a:hover {
    color: #151515;
}

#titulo_mesa {
    font-size: 20pt;
    padding-left: 20px;
    color: orange;
}

/*tablas de error*/
#table_error {
    left: 300px;
    top: 70px;
    position: absolute;
    height: auto;
    width: 350px;
    background-color: black;
    opacity: 0.9;
    border-radius: 10px;
}

#msg_error {
    font-size: 15pt;
    color: #B43104;
    margin: 18px;
}

#but_error {
    margin: 0px;
    color: #B43104;
    margin-left: 180px;
    margin-right: 37px;
    margin-bottom: 19px;
}