@import url(http://fonts.googleapis.com/css?family=Quicksand:700);
@import url(http://fonts.googleapis.com/css?family=Oswald);

div.block {
    position: fixed;
    height: 550px;
    width: 406px;
    margin: 4% 34%;
}

footer {
    height: 150px;
}

footer small {
    color: #BDBDBD;
    position: relative;
    margin: 70px 50px;
    top: 70px;
    font-size: 12pt;
}

form {
    position: relative;
    width: 400px;
    background-color: #333333;
    border: 3px solid #4e4d4d;
    border-radius: 9px;
    box-shadow: 0px 0px 30px white;
}

form input {
    width: 280px;
    height: 40px;
    margin: 5px 40px;
    text-align: center;
    font-size: 18pt;
    color: orange;  
    background-color: #333333;
    box-shadow: inset 0px 0px 30px #A4A4A4;
    border: 3px solid #4e4d4d;
    border-radius: 9px;
}

button.buttons {
    width: 133px;
    height: 40px;
    box-shadow: 0px 0px 30px #A4A4A4;
    border-radius: 9px;
    color: orange;
    font-family: 'Oswald', sans-serif;
    font-size: 13pt;
    cursor: pointer;
}

span {
    display: none;
}

p {
    margin: 18px;
}

p label {
    margin-left: 40px;
    color: orange;
    font-family: 'Quicksand', sans-serif;
    font-size: 15pt;
}

p input {
    display: block;
}

button {
    margin-top: 20px;
    margin-left: 210px;
    margin-bottom: 30px;
}

footer small {
    left: 20px;
}

div#table_error {
    left: 30px;
    top: 70px;
    position: absolute;
    height: auto;
    width: 350px;
    background-color: black;
    opacity: 0.9;
    border-radius: 10px;
}

div#table_error p#msg_error {
    font-size: 15pt;
    color: #B43104;
}

button#but_error {
    margin: 0px;
    color: #B43104;
    margin-left: 180px;
    margin-right: 37px;
    margin-bottom: 19px;
}